/*body, corpo do site*/
body {
    background-color: beige;
}












/*botao login*/
#button-login {
 width: 150px;;
}


.box-procura {
    background-color: aquamarine;
    width: 1864px;
    height: 50px;
    
}


